.cartPage {
  display: grid;
  grid-template-columns: 2fr 400px;
  gap: 50px;
}

.stepperbg{background-color: #fafafa; margin-bottom: 30px;}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  top: 40px;
  height: fit-content;
}

.emptyCartPage {
  display: block;
  width: 100%;
}

.emptyCartPage .left {
  width: 100%;
  max-width: 100%;
  flex: none;
}

.emptyCartPage .right {
  display: none;
}
