.cartPage {
  display: grid;
  grid-template-columns: 2fr 400px;
  gap: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  top: 40px;
  height: fit-content;
}

.emptyCartPage {
  display: block;
  width: 100%;
}

.emptyCartPage .left {
  width: 100%;
  max-width: 100%;
  flex: none;
}

.emptyCartPage .right {
  display: none;
}

@media (max-width: 1200px) {
  .cartPage {
    grid-template-columns: 1.7fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .cartPage {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .right {
    position: static;
  }
}

@media (max-width: 768px) {
  .cartPage {
    gap: 20px;
    padding: 30px 0;
  }

  .left,
  .right {
    gap: 16px;
  }
}

@media (max-width: 576px) {
  .cartPage {
    gap: 15px;
    padding: 20px 0;
  }

  .left,
  .right {
    gap: 12px;
  }
}