.section{
    width:100%;
    padding:60px 40px;
}

.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.heading h2{
    font-size:34px;
}

.heading a{
    color:#000;
    text-decoration:none;
    font-size:18px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
}

.card{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background:#fff;
}

.imageBox{
    height:260px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.imageBox img{
    object-fit:contain;
}

.badge{
    position:absolute;
    left:0;
    top:0;
    background:#bf1f1f;
    color:#fff;
    padding:7px 14px;
    font-size:15px;
    font-weight:bold;
}

.content{
    padding:15px;
}

.category{
    color:#888;
    font-size:12px;
    text-transform:uppercase;
    margin-bottom:8px;
}

.content h3{
    font-size:20px;
    line-height:30px;
    margin-bottom:15px;
}

.price{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:20px;
}

.oldPrice{
    color:#999;
    text-decoration:line-through;
}

.newPrice{
    color:#e53935;
    font-size:22px;
    font-weight:bold;
}

.content button{
    width:100%;
    height:48px;
    border:none;
    background:#f3f3f3;
    cursor:pointer;
    font-size:16px;
}

.content button:hover{
    background:#000;
    color:#fff;
}

/* Tablet */

@media(max-width:1200px){

.grid{
grid-template-columns:repeat(4,1fr);
}

}

/* Mobile */

@media(max-width:768px){

.section{
padding:20px;
}

.grid{
grid-template-columns:repeat(2,1fr);
}

.heading{
flex-direction:column;
align-items:flex-start;
gap:10px;
}

}