.section{
    width:100%;
    padding:30px 0;
}

/* ===========================
   Heading
=========================== */

.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
   
}

.heading h2{
    font-size:32px;
     font-family: var(--heading-font);
    font-weight: 400;
    line-height:32px ;
    color: #141414;
}

.heading a{
    color:#141414;
    text-decoration:none;
    font-size:13px;
    font-family: var(--lato-message);
}

/* ===========================
   Grid
=========================== */

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

/* ===========================
   Card
=========================== */

.card{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    position:relative;

    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transition:.3s ease;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

/* ===========================
   Image
=========================== */

.imageBox{
    position:relative;
    width:100%;
    height:260px;
    overflow:hidden;
    background:#fff;
}

.imageWrapper{
    position:relative;
    width:100%;
    height:100%;
    transition:opacity .3s ease-in-out;
}

.fade{
    opacity:0;
}

/* Next.js Image */
.productImage{
    width:100%;
    height:100%;
    object-fit:cover;   /* contain karoge to side me space aayegi */
    display:block;
}

/* ===========================
   Badge
=========================== */

.badge{
    position:absolute;
    left:0;
    top:0;
    background:#bf1f1f;
    color:#fff;
    padding:7px 14px;
    font-size:15px;
    font-weight:bold;
    z-index:5;
}

/* ===========================
   Actions
=========================== */

.actions{
    position:absolute;
    top:15px;
    right:-60px;

    display:flex;
    flex-direction:column;
    gap:10px;

    z-index:10;
    transition:all .35s ease;
}

.showActions{
    right:15px;
}

.iconBtn{
    width:38px;
    height:38px;

    border:none;
    border-radius:50%;

    background:#fff;
    color:#222;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    box-shadow:0 4px 12px rgba(0,0,0,.15);

    transition:.25s;
}

.iconBtn:hover{
    transform:scale(1.1);
    background:#000;
    color:#fff;
}

/* ===========================
   Slider Dots
=========================== */

.sliderDots{
    position:absolute;
    bottom:12px;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    gap:6px;

    z-index:5;
}

.sliderDots span{
    width:8px;
    height:8px;

    background:#ccc;
    border-radius:50%;

    cursor:pointer;
    transition:.3s;
}

.activeDot{
    background:#000 !important;
    width:22px !important;
    border-radius:10px;
}

/* ===========================
   Content
=========================== */

.content{
    padding:15px;
}

.category{
    color:#888;
    font-size:11px;
    text-transform:uppercase;
    font-family: var(--lato-message);
}

.content h3{
    font-size:21px;
    line-height:30px;
    margin-bottom:15px;
    font-family: var(--heading-font);
    font-weight: 400;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:20px;
}

.oldPrice{
    color:#999;
    text-decoration:line-through;
    font-family: var(--lato-message);
}

.newPrice{
    color:#e53935;
    font-size:22px;
    font-weight:bold;
     font-family: var(--heading-font);
}

.content button{
    width:100%;
    height:48px;
    border:none;
    background:#f3f3f3;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.content button:hover{
    background:#000;
    color:#fff;
}

/* ===========================
   Tablet
=========================== */

@media(max-width:1200px){

    .grid{
        grid-template-columns:repeat(4,1fr);
    }

}

/* ===========================
   Mobile
=========================== */

@media(max-width:768px){

    .section{
        padding:20px;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
    }

    .heading{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .imageBox{
        height:220px;
    }

    .sliderDots span{
        width:7px;
        height:7px;
    }

    .activeDot{
        width:18px !important;
    }

}