.searchBox {
  position: relative;
  width: 500px;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #141414;
  z-index: 1;
}

.input {
  width: 100%;
  height: 45px;

  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;

  padding-left: 45px; /* icon ke liye jagah */
  padding-right: 15px;

  font-size: 15px;
  font-family: var(--font-inter);
  color: #141414;
  outline: none;
  font-weight: 400;
}

.input:focus {
  border-color: #2874f0;
  background-color: #fff;
}

.input::placeholder {
  color: #777;
}