.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchBox {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.35s ease, background 0.25s ease;
}

.icon {
  min-width: 20px;
  margin: 0 11px;
  color: #141414;
  flex-shrink: 0;
}

.input {
  width: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.2s ease;
  font-family: var(--font-inter);
  color:#141414
}

.open .searchBox {
  width: 420px;
  background: #ffffff;
}

.open .icon {
  color: #111111;
}

.open .input {
  width: 100%;
  opacity: 1;
  color: #111111;
}

.input::placeholder {
  color: #777;
}

@media (max-width: 1399px) {
  .open .searchBox {
    width: 380px;
  }
}

@media (max-width: 1199px) {
  .open .searchBox {
    width: 340px;
  }
}

@media (max-width: 992px) {
  .open .searchBox {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .open .searchBox {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .open .searchBox {
    width: 200px;
  }
}