.quantitynumber label{

    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: #141414;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
}

.quantitynumber select{

width:140px;

height:52px;

border:1px solid #ddd;

border-radius:8px;

padding-left:15px;

font-size:18px;
}