.listingWrapper {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    margin-top: 15px;
}

.sidebar {
    width: 280px;
    flex-shrink: 0;
}

.products {
    flex: 1;
}

.productTitle{font-family: var(--font-inter); font-size: 18px; margin-bottom: 15px; font-weight: 500;}