.deliveryPage {
  background: #ffffff;
}

.stepperbg {
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.deliveryRow {
  display: grid;
  grid-template-columns: 2fr 400px;
  gap: 50px;
  align-items: start;
}

@media (max-width: 900px) {
  .deliveryRow {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .deliveryPage {
    padding: 20px 0 40px;
  }
}