.checkoutPage {
    width: 100%;
    background: #ffffff;
}

.stepperbg{background-color: #fafafa; margin-bottom: 30px;}

.checkoutrow {
   display: grid;
  grid-template-columns: 2fr 400px;
  gap: 50px;
    align-items: start;
}



.leftSection {
    width: 100%;
}

.billingSection {
    width: 100%;
    position: sticky;
    top: 100px;
}


@media (max-width: 991px) {

    .checkoutrow {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .billingSection {
        position: static;
    }
}


@media (max-width: 600px) {

    .checkoutPage {
        padding: 25px 0 40px;
    }

    .checkoutrow {
        gap: 25px;
    }
}