.deliveryCard {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  background: #fff9e8;
  border: 1px solid #eadcae;
  border-radius: 8px;
  color: #141414;
  font-family: var(--font-inter);
}

.deliveryCard svg{margin-right: 5px;}

.locationIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 16px;
  font-family: var(--font-inter);
 
}

.deliveryText {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-family: var(--font-inter);
  font-weight: 400;
  color: #141414;
}

.deliveryText strong {
  text-decoration: underline;
  font-weight: 600;
}

.arrow {
  margin-left: 7px;
  font-size: 16px;
}