.wrapper{
    margin-top:20px;
}

.heading{
    font-size:14px;
    font-weight:500;
    margin-bottom:15px;
    font-family: var(--font-inter);
    color:#141414
}

.list{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.sizeLabel{
    cursor:pointer;
}

.sizeLabel input{
    display:none;
}

.size{
    width:48px;
    height:48px;
    border:1px solid #d6d6d6;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    color:#141414;
    transition:.3s;
    font-family: var(--font-inter);
    font-weight: 400;
}

.sizeLabel input:checked + .size{
    border:2px solid #111;
    font-weight:600;
    background:#fff;
}

.size:hover{
    border-color:#111;
}