.section{
    margin-top:35px;
    margin-bottom:0;
}

.heading{
    font-size:21px;
    font-weight:600;
    margin-bottom:15px;
    font-family: var(--font-inter);
    color: #141414;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

@media(max-width:1024px){

.grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.grid{
    grid-template-columns:1fr;
}

.heading{
    font-size:24px;
}

}