.tabs{
display:flex;
background:#f5f7fb;
padding:8px;
}

.tabs button{
flex:1;
height:48px;
border:none;
background:transparent;
font-size:15px;
font-weight:600;
cursor:pointer;
border-radius:6px;
color:#777;
font-family: var(--font-inter);
}

.active{
background:white !important;
color:#111 !important;
box-shadow:0 1px 5px rgba(0,0,0,.1);
}