.sidebar{
    width:280px;
    border-right:1px solid #eee;
    padding-right:20px;
}

.title{
    font-size:18px;
    font-weight:600;
    margin-bottom:15px;
    font-family: var(--font-inter);
    color: #141414;
}

.section{
    border-top:1px solid #ececec;
    padding:20px 0;
}

.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:16px;
    font-weight:500;
    font-family: var(--font-inter);
    color:#141414
}

.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.35s ease,
        opacity 0.35s ease,
        margin-top 0.35s ease;
    margin-top: 0;
}

.open {
    max-height: 500px;
    opacity: 1;
    margin-top: 15px;
}

.close {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 14px;
}

.rotate {
  transform: rotate(180deg);
}

.checkbox{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:12px;
    font-size:15px;
    color:#141414;
    font-family: var(--font-inter);
    font-weight: 400;
}

.checkbox input{
    width:18px;
    height:18px;
}

.priceRow{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:18px;
}

.inputBox{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    padding:12px;
    width:120px;
}

.inputBox span{
    margin-right:8px;
}

.inputBox input{
    width:100%;
    border:none;
    outline:none;
}

.to{
    color:#777;
}

.priceText{
    margin-top:15px;
    color:#777;
    font-size:14px;
}

.sizeWrap{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.sizeBtn{
    width:54px;
    height:38px;
    border-radius:22px;
    border:1px solid #ddd;
    background:#fff;
    cursor:pointer;
    transition:.3s;
}

.sizeBtn:hover{
    background:#000;
    color:#fff;
}

.activeSize {
  background: #000;
  color: #fff;
  border-color: #000;
}