.wrapper {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  flex: 1;
  text-align: center;
}

.iconBox {
  width: 40px;
  height: 40px;
  margin: 0 auto 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBox svg {
  font-size: 30px;
  color: #4b5563;
}

.card h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #141414;
  font-family: var(--font-inter);
}

.card p {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
  font-family: var(--font-inter);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 24px 16px;
  }

  .card {
    width: 100%;
  }

  .iconBox svg {
    font-size: 36px;
  }
}